body{
    display:flex;
    flex-direction: column;
    background-color: black;
    min-height:100vh;
    
}
.header{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    background-color:rgb(5, 26, 48);
    padding:10px;
}

.first-container{
    display: flex;
    flex:auto;
    padding:10px;
    background-color:rgb(5, 26, 48);
    padding-left:200px;
}

.first-half{
    display:flex;
    flex:auto;
    flex-direction: column;
    color:white;
    padding: 20px;
    
}
.second-half{
    flex:auto;
    padding:20px;
}
button{
    background-color: rgb(43, 122, 241);
    padding:5px 30px 5px 30px;
    margin-top:10px;
    color:white;
    border-radius: 7px;
    border: none;
}

.image-holder{
    width:200px;
    height:auto;
}
.second-container{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    
}
.image-div{
    display:flex;

}
.image-info{
    flex:auto;
    margin:30px;
    width:100px;
    height:auto;
}
.second{
    width:100px;
    height:auto;
    border: rgb(50, 141, 184) solid 2px;
    border-radius: 5px;
}
.image-info p{
    text-align: center;
}
.third-container{
    background-color: #E5E7EB;
    flex:1;

}
.quote-holder{
    flex:1;
    padding-top:10px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:600px;
    height:auto;
    margin:auto;

}
.p1{
    font-size:18px;
    width:600px;
}
.p2{
    font-size: 15px;
    font-weight: bolder;
    align-self:end;
}
.fourth-box{
    display: flex;
    justify-content:center;
    background-color:white;
    padding:20px;
    flex:1;
}
.fourth-container{
    flex:1;
    display: flex;
    background-color: #3882F6;
    max-width:600px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
}
.box-left{
    flex:auto;
    padding-left:40px;
}
.box-right{
    flex:auto;
}
.bu{
    background-color: #3882F6;
    border:white solid 2px;
}
.p11{
    font-size: 20px;
    font-weight: bolder;
}
.footer{
    flex:1;
    text-align: center;
    padding:5px;
    background-color:rgb(5, 26, 48);
    color:white;
    font-size:12px;
   
}


ul{
    display:flex;
    flex:auto;
    list-style-type: none;
    margin: 0px;
    justify-content: end;
    padding-right: 20px;
}
a:link{
    flex:auto;
    text-decoration: none;
    margin:10px;
}
a{
    color:white;
}

img.logo{
    height:70px;
    width:auto;
    padding-left:50px;
}