.body{
    display:flex;
    flex-direction: column;
    background-color: black;
}
.header{
    display: flex;
    flex:auto;
    justify-content: center;
    align-items: center;
    background-color:rgb(5, 26, 48);
    padding:20px;
}

.first-container{
    display: flex;
    flex:auto;
    padding:30px;
    background-color:rgb(5, 26, 48);
}

.first-half{
    display:flex;
    flex:auto;
    flex-direction: column;
    color:white;
    padding: 20px;
    
}
.second-half{
    flex:auto;
    padding:20px;
}
button{
    background-color: rgb(43, 122, 241);
    padding:5px 30px 5px 30px;
    margin-top:10px;
    color:white;
    border-radius: 7px;
    border: none;
}

.image-holder{
    width:200px;
    height:auto;
}
.second-container{
    flex:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
}
.image-div{
    display:flex;

}
.image-info{
    flex:auto;
    margin:30px;
    width:100px;
    height:auto;
}
.second{
    width:100px;
    height:auto;
    border: rgb(50, 141, 184) solid 2px;
    border-radius: 5px;
}
.image-info p{
    text-align: center;
}
.third-container{
    flex:auto;
}

.fourth-container{
    flex:auto;
}

.footer{
    flex:auto;
}
ul{
    display:flex;
    flex:auto;
    list-style-type: none;
    margin: 0px;
    justify-content: end;
    padding-right: 20px;
}
a:link{
    flex:auto;
    text-decoration: none;
    margin:10px;
}
a{
    color:white;
}

img.logo{
    height:50px;
    width:50px;
}